= render 'shared/page_title', title: "Chef: #{@chef.chefname}"
.row
  .col-xs-4.col-xs-offset-4
    = gravatar_for @chef, size: 200
    %hr/

.row
  .col-xs-4.col-xs-offset-4.text-center
    %h3
      %em Recipes:
      = will_paginate @recipes
- @recipes.each do |recipe|
  .row
    .col-xs-6.well.col-xs-offset-3
      %h4= link_to recipe.name, recipe
      %p= recipe.summary
      %p
        %span.quiet
          %small
            created: #{time_ago_in_words(recipe.created_at)} |
            ago,
          %small
            updated #{ time_ago_in_words(recipe.updated_at)} |
            ago

      .pull-right
        = link_to like_recipe_url(recipe, like: true), method: :post do
          %i.glyphicon.glyphicon-thumbs-up &nbsp #{recipe.thumbs_up_total}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        = link_to like_recipe_url(recipe, like: false), method: :post do
          %i.glyphicon.glyphicon-thumbs-down &nbsp #{recipe.thumbs_down_total}


