.row
  .col-xs-4.pull-right.text-center
    = link_to gravatar_for(@recipe.chef, size: 200), chef_url(@recipe.chef)
    %p
      %h5
        Brought to you by: #{@recipe.chef.chefname}
  .col-xs-8
    - if logged_in? && @recipe.chef == current_user
      = link_to("Edit Recipe", edit_recipe_url(@recipe), class: "btn btn-info btn-sm pull-right" )
    %h3= @recipe.summary
    .show_recipe
      = image_tag(@recipe.picture.url, size: "150x150") if @recipe.picture?
    .well
      %p
        Styles: #{render @recipe.styles}
      %p
        Ingredients: #{render @recipe.ingredients}
      %p
        %strong Steps:
      = simple_format(@recipe.description)
      .pull-right
        = link_to like_recipe_url(@recipe, like: true), method: :post do
          %i.glyphicon.glyphicon-thumbs-up &nbsp #{@recipe.thumbs_up_total}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        = link_to like_recipe_url(@recipe, like: false), method: :post do
          %i.glyphicon.glyphicon-thumbs-down &nbsp #{@recipe.thumbs_down_total}


= link_to 'Return to Recipes Listing', recipes_path, class: "btn btn-warning btn-sm"
